*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

:root {
  --whitecolor: hsl(0, 0%, 100%);
  --bgcolor: #f4f7f6;
  --textColor: hsl(0, 0%, 0%);
  --grayColor: hsl(212, 11%, 50%);
  --primaryColor: hsl(233, 24%, 19%);
  --primaryColor-hover: hsl(233, 40%, 39%);
  --primaryColor-100: hsla(0, 0%, 50%, 0.493);
  --primaryColor_opacity_5: hsla(232, 24%, 19%, 0.808);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.mainButton {
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 10px;
  box-shadow: none;
  background-color: var(--primaryColor);
  outline: none;
  padding: 0.6rem 1rem;
  color: white;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.5);
  font-weight: 100;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s linear;
}
.mainButton:hover {
  background-color: var(--primaryColor-hover);
}
.outline__button {
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 3;
  background: transparent;
  color: var(--primaryColor);
  font-size: 14px;
  border-color: var(--primaryColor);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.outline__button:hover {
  color: var(--primaryColor);
  background: var(--primaryColor);
  border-color: white;
}
.solid__button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 3;
  background: var(--primaryColor);
  color: var(--whitecolor);
  border-color: var(--primaryColor);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 0.5em 1.25em;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.solid__button:hover,
.solid__button:focus {
  background: var(--primaryColor-100);
  /* transition: all 0.2s linear; */
}
.paragraph {
  max-width: 75ch;
  font-size: 1rem;
  line-height: 1.8;
}
.headerh2 {
  letter-spacing: 3px;
  text-align: center;
  font-size: 1.8rem;
  max-width: 30ch;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
